# Keystatic (GitHub mode)
# Эти переменные будут сгенерированы Keystatic-ом при первичной настройке GitHub App
#    (зайдите на /keystatic и пройдите wizard создания GitHub App).
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=

# Для Astro используйте именно PUBLIC_ префикс:
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=

# (опционально) URL формы на странице контактов
PUBLIC_FORM_ACTION=https://formspree.io/f/myknlbgz

